body {
  margin: 0;
  display: flex;
  justify-content: center;
  background: url('img/clouds.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Roboto Condensed', sans-serif;
  color: hsl(338, 100%, 72%);
}

.header {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.header .titles {
  position: relative;
  top: min(10.5vw, 10.5vh);
  left: min(11.5vw, 11.5vh);
}

.titles {
  width: min(75vw, 75vh);
  display: flex;
  justify-content: space-between;
  color: hsl(26, 100%, 50%);
  font-size: min(3.25vw, 3.25vh);
}

.titles i {
  font-size: min(3vw, 3vh);
  font-family: 'Nunito', sans-serif;
  color: hsl(338, 100%, 72%);
}

.album-art {
  width: min(98vw, 98vh);
  height: min(98vw, 98vh);
  background: url('img/hallways.png');
  background-size: cover;
}

.link-icons {
  font-size: min(5.5vw, 5.5vh);
  display: flex;
  justify-content: center;
  position: relative;
  top: max(-11vw, -11vh);
}

.videos {
  display: flex;
  justify-content: center;
}

.videos .embeds {
  display: flex;
  justify-content: center;
}

.videos .embeds iframe {
  max-width: 90vw;
}

a {
  text-decoration: none;
  margin: min(2vw, 2vh);
}

a i, a:active i, a:visited i {
  color: hsl(223, 100%, 51%);
}

a i:hover.blue {
/* color: hsl(235, 100%, 32%); */
  color: hsl(223, 100%, 51%);
}

a i:hover.green {
  color: hsl(101, 100%, 55%);
}

a i:hover.yellow {
  color: hsl(59, 100%, 50%);
}

a i:hover.mirror {
  color: hsl(338, 100%, 72%);
}

a i:hover.red {
  color: hsl(1, 100%, 50%);
}

a i:hover.glass {
  color: white;
}

a i:hover.orange {
  color: hsl(26, 100%, 50%);
}