body {
  color: #ffe7eb;
  background-color: #f6aab8;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
}

main {
  margin: 23.5vw 0;
  font-size: 2vw;
  width: 40vw;
  line-height: 3vw;
}

a {
  color: red;
  text-decoration: none;
  font-size: 3vw;
}

a:hover {
  color: white;
}

p {
  display: flex;
  justify-content: space-between;
}

.desc {
  text-transform: capitalize;
}

.desc::after {
  content: '...';
}

.name, .name .last {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 8vw;
  display: flex;
  justify-content: space-between;
}

.name .last {
  color: red;
}

.sea {
  color: red;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  font-weight: 700;
}

.wave div {
  margin: 0.5vw;
  width: 4.6vw;
  font-size: 9vw;
  height: 6vw;
  transform: rotate(30deg);
}
